<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="geta:notfoundhandler"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="Geta.NotFoundHandler.Optimizely" />
    </assemblies>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" />
        </moduleDependencies>
    </clientModule>
</module>
