@model Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.Components.CheckboxReadonly.CheckboxReadonlyViewModel

@if (Model.IsChecked)
{
<span data-feather="check-square"></span>
}
else
{
<span data-feather="square"></span>
}
