@page "{handler?}"
@model Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.AdministerModel

@await Component.InvokeAsync("Card", new { message = Model.Message, cardType = Model.CardType })

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>Permanently delete all ignored suggestions</div>
                <button type="submit" class="btn btn-danger administer-button" data-confirm="Are you sure you wish to delete all ignored suggestions?"
                        asp-page-handler="DeleteAllIgnoredSuggestions">
                    <span data-feather="trash-2"></span> delete
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>Permanently delete all suggestions</div>
                <button type="submit" class="btn btn-danger administer-button" data-confirm="Are you sure you wish to delete all suggestions?"
                        asp-page-handler="DeleteAllSuggestions">
                    <span data-feather="trash-2"></span> delete
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>Permanently delete all custom redirects</div>
                <button type="submit" class="btn btn-danger administer-button" data-confirm="Are you sure you wish to delete all custom redirects?"
                        asp-page-handler="DeleteAllRedirects">
                    <span data-feather="trash-2"></span> delete
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <div class="d-flex w-100 align-items-center">
                        Permanently delete all suggestions with less than
                        <input type="text" class="form-control input-number input-inline" asp-for="DeleteSuggestions.MaxErrors" value="@Model.DeleteSuggestions.MaxErrors">
                        <span asp-validation-for="DeleteSuggestions.MaxErrors" class="text-danger"></span>
                        error counts and older than
                        <input type="text" class="form-control input-number input-inline" asp-for="DeleteSuggestions.MinimumDays" value="@Model.DeleteSuggestions.MinimumDays">
                        <span asp-validation-for="DeleteSuggestions.MinimumDays" class="text-danger"></span>
                        days
                    </div>
                </div>
                <button type="submit" class="btn btn-danger administer-button" data-confirm="Are you sure you wish to delete these suggestions?"
                        asp-page-handler="DeleteSuggestions">
                    <span data-feather="trash-2"></span> delete
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post" enctype="multipart/form-data">
            <div class="d-flex w-100 justify-content-between">
                <div class="flex-fill">
                    <div class="d-flex w-100 align-items-center">
                        Import redirects from a valid XML or CSV
                        <input class="form-control ms-4 input-file" type="file" asp-for="ImportFile" accept=".xml, .csv">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary administer-button"
                        asp-page-handler="ImportRedirects">
                    <span data-feather="upload"></span> import
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post" enctype="multipart/form-data">
            <div class="d-flex w-100 justify-content-between">
                <div class="flex-fill">
                    <div class="d-flex w-100 align-items-center">
                        Import Deleted(410) urls from a text file
                        <input class="form-control ms-4 input-file" type="file" asp-for="ImportFile" accept=".txt">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary administer-button"
                        asp-page-handler="ImportDeletedRedirects">
                    <span data-feather="upload"></span> import
                </button>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>Export redirects to an XML-file</div>
                <button type="submit" class="btn btn-primary administer-button"
                        asp-page-handler="ExportRedirects">
                    <span data-feather="download"></span> export
                </button>
            </div>
            <input type="hidden" name="TypeId" value="xml">
        </form>
    </li>
    <li class="list-group-item">
        <form method="post">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>Export redirects to an CSV-file</div>
                <button type="submit" class="btn btn-primary administer-button"
                        asp-page-handler="ExportRedirects">
                    <span data-feather="download"></span> export
                </button>
            </div>
            <input type="hidden" name="TypeId" value="csv">
        </form>
    </li>
</ul>